.thebackground {
    -fx-background-color: #F9AF0C;
}


.usernameTextField {
    -fx-background-color: #432f03 , #F9AF0C, #F9AF0C;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;

}

.passwordField {
    -fx-background-color: #432f03 , #F9AF0C, #F9AF0C;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}


.loginButton {
    -fx-background-color: #e59c0c;
}

.registerButton {
    -fx-background-color: #e59c0c;
}